<body>

    <div id="background">

        <div id="enterbutton">
            <button onclick="window.location.reload()">Enter the Jungle?</button>
        </div>
        <div id="terminal-border">
            <div id="terminal"></div>
        </div>
        

    </div>
    

    <script>
        var term = new Terminal({
            cols: 85,
            rows: 32
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Loading narrative....preparing virtual world....');
        // term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>